body {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: red;
}

P { 
	text-align: center 
}

h2 { 
	text-align: center;
}
#problems{
	display: flex;
	flex-direction: column;
}

#buttons{
	text-align: center;
	display: flex;
	flex-direction: column;
	
}


.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #FF0000;
  background: black;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #FF0000;
  box-shadow: 0 15px 20px rgba(255, 2, 5, .4);
  color: black;
  transform: translateY(-7px);
}

}
.animated-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #FF0000;
  background: black;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.animated-button:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, rgba(255, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(255, 0, 0, 1) 50%, rgba(255, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1));
  background-size: 10px 10px;
  color: #FF0000;
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }